doctype html
html
  head
    meta(charset='utf-8')
    |     
    title  HTML5 demo
    |     
    style.
      header {
      height: 150px;
      background: #ABCDEF;
      overflow: hidden;
      }
      nav {
      height: 30px;
      background: #ff9900;
      margin-top: 120px;
      }
      nav ul li {
      float: left;
      list-style: none;
      width: 100px;
      height: 30px;
      line-height: 30px;
      }
      div {
      margin-top: 10px;
      height: 900px;
      }
      section {
      height: 900px;
      width: 70%;
      background: #ABCDEF;
      float: left;
      }
      article {
      background: #F90;
      width: 500px;
      margin: 0px auto;
      text-align: center;
      line-height: 30px;
      }
      aside {
      height: 900px;
      width: 29%;
      background: #ABCDEF;
      float: right;
      }
      footer {
      height: 100px;
      background: #ABCDEF;
      clear: both;
      margin-top: 10px;
      text-align: center;
      }
  body
    // 头部
    header
      // 导航栏
      nav
        ul
          li &#x9996;&#x9875;
          |             
          li &#x4F53;&#x80B2;
          |             
          li &#x5A31;&#x4E50;
          |             
          li &#x6E38;&#x620F;
          |             
          li &#x516B;&#x5366;
          |             
          li &#x5973;&#x6027;
          |             
          li &#x623F;&#x4EA7;
          |             
          li &#x8BBA;&#x575B;
          |             
          li &#x8F6F;&#x4EF6;
          |             
          li &#x6C7D;&#x8F66;
    // 主体
    div
      // 章节
      section
        article
          h2 &#x6843;&#x82B1;&#x5EB5;
          |             
          p
            | &#x6843;&#x82B1;&#x575E;&#x91CC;&#x6843;&#x82B1;&#x5EB5;&#xFF0C;&#x6843;&#x82B1;&#x5EB5;&#x4E0B;&#x6843;&#x82B1;&#x4ED9;&#x3002;
            br
            |                 &#x6843;&#x82B1;&#x4ED9;&#x4EBA;&#x79CD;&#x6843;&#x6811;&#xFF0C;&#x53C8;&#x6458;&#x6843;&#x82B1;&#x6362;&#x9152;&#x94B1;&#x3002;
            br
            |                 &#x522B;&#x4EBA;&#x7B11;&#x6211;&#x592A;&#x75AF;&#x766B;&#xFF0C;&#x6211;&#x7B11;&#x4ED6;&#x4EBA;&#x770B;&#x4E0D;&#x7A7F;&#x3002;
            br
            |                 &#x4E0D;&#x89C1;&#x4E94;&#x9675;&#x8C6A;&#x6770;&#x5893;&#xFF0C;&#x65E0;&#x82B1;&#x65E0;&#x9152;&#x9504;&#x4F5C;&#x7530;&#x3002;
            br
        |         
        hr
        |         
        article
          h2 &#x6728;&#x5170;&#x8BCD;
          |             
          p
            | &#x4EBA;&#x751F;&#x82E5;&#x53EA;&#x5982;&#x521D;&#x89C1;&#xFF0C;&#x4F55;&#x4E8B;&#x79CB;&#x98CE;&#x60B2;&#x753B;&#x6247;&#x3002;
            br
            |                 &#x7B49;&#x95F2;&#x53D8;&#x5374;&#x6545;&#x4EBA;&#x5FC3;&#xFF0C;&#x5374;&#x9053;&#x6545;&#x4EBA;&#x5FC3;&#x6613;&#x53D8;&#x3002;
            br
            |                 &#x9A8A;&#x5C71;&#x8BED;&#x7F62;&#x6E05;&#x5BB5;&#x534A;&#xFF0C;&#x6CEA;&#x96E8;&#x96F6;&#x94C3;&#x7EC8;&#x4E0D;&#x6028;&#x3002;
            br
            |                 &#x4F55;&#x5982;&#x8584;&#x5E78;&#x9526;&#x8863;&#x90CE;&#xFF0C;&#x6BD4;&#x7FFC;&#x8FDE;&#x679D;&#x5F53;&#x65E5;&#x613F;&#x3002;
            br
        |         
        hr
        // 描绘
        figure
          figcaption &#x9999;&#x6E2F;&#x53CD;&#x5360;&#x4E2D;&#x6E38;&#x884C;
          |             
          p
            | 2014&#x5E74;8&#x6708;17&#x65E5;&#x4E0B;&#x5348;&#xFF0C;&#x5728;&#x8D85;&#x8FC7;30&#x6444;&#x6C0F;&#x5EA6;&#x9AD8;&#x6E29;&#x4E0B;&#xFF0C;&#x9999;&#x6E2F;&#x793E;&#x4F1A;&#x5404;&#x754C;&#x903E;19&#x4E07;&#x4EBA;&#x53C2;&#x52A0;&#x4E86;&#x7531;&ldquo;&#x4FDD;&#x666E;&#x9009;&#x3001;[1] &#x53CD;&#x5360;&#x4E2D;&rdquo;&#x5927;&#x8054;&#x76DF;&#x53D1;&#x8D77;&#x7684;&ldquo;&#x548C;&#x5E73;&#x666E;&#x9009;&#x5927;&#x6E38;&#x884C;&rdquo;&#xFF0C;&#x8868;&#x8FBE;&#x5404;&#x754C;&#x843D;&#x5B9E;&ldquo;&#x4E00;&#x56FD;&#x4E24;&#x5236;&rdquo;&#x65B9;&#x9488;&#x548C;&#x57FA;&#x672C;&#x6CD5;&#xFF0C;&#x4F9D;&#x6CD5;&#x5B9E;&#x884C;&#x666E;&#x9009;&#x7684;&#x613F;&#x671B;&#x548C;&#x8BC9;&#x6C42;[2]
            | &#x3002;
        |         
        figure
          dt
            | Shell
            dt
              dd
                | &#x5728;&#x8BA1;&#x7B97;&#x673A;&#x79D1;&#x5B66;&#x4E2D;&#xFF0C;Shell&#x4FD7;&#x79F0;&#x58F3;&#xFF08;&#x7528;&#x6765;&#x533A;&#x522B;&#x4E8E;&#x6838;&#xFF09;&#xFF0C;&#x662F;&#x6307;&ldquo;&#x63D0;&#x4F9B;&#x4F7F;&#x7528;&#x8005;&#x4F7F;&#x7528;&#x754C;&#x9762;&rdquo;&#x7684;&#x8F6F;&#x4EF6;&#xFF08;&#x547D;&#x4EE4;&#x89E3;&#x6790;&#x5668;&#xFF09;&#x3002;&#x5B83;&#x7C7B;&#x4F3C;&#x4E8E;DOS&#x4E0B;&#x7684;command&#x548C;&#x540E;&#x6765;&#x7684;cmd.exe&#x3002;&#x5B83;&#x63A5;&#x6536;&#x7528;&#x6237;&#x547D;&#x4EE4;&#xFF0C;&#x7136;&#x540E;&#x8C03;&#x7528;&#x76F8;&#x5E94;&#x7684;&#x5E94;&#x7528;&#x7A0B;&#x5E8F;&#x3002;
                dd
        |         
        hr
        // 进度条
        progress#pro(max='100', value='5')
        |         
        hr
        // 注解
        ruby
          | &#x56E7;
          rp [
          |             
          rt
            | jiong
            rt
              rp ]
        // 高亮
        | &#x767E;&#x5EA6;
        mark &#x8425;&#x9500;
        |         &#x5927;&#x5B66;
      // 侧边栏
      aside
        hgroup
          h3 MACHENIKE M510 M510A-i5 D2&#x673A;&#x68B0;&#x5E08;
          |             
          h3 &#x96F7;&#x795E;G150MG&#x9752;&#x6625;&#x7248; GTX850M IP
          |             
          h3 Dell/&#x6234;&#x5C14; &#x7075;&#x8D8A;15(5547) Ins15M-1528
          |             
          h3 Acer/&#x5B8F;&#x7881;V5-471G-53334G50D&#x8D85;&#x8584;&#x7B14;&#x8BB0;&#x672C;
          |             
          h3 Asus/&#x534E;&#x7855; S550X3317CM-SL/CB
          |             
          h3 &#x8054;&#x60F3; S400-IFI(I)I5-3337&#x8054;&#x60F3;&#x7B14;&#x8BB0;&#x672C;&#x7535;&#x8111;
          |             
          h3 ThinkPad E540 20C6-S00A00
    // 页脚
    footer
      hr
      |     
      small &#x8D2D;&#x7269;&#x6307;&#x5357;
      |     
      small &#x514D;&#x8D39;&#x6CE8;&#x518C;
      |     
      small &#x5F00;&#x901A;&#x652F;&#x4ED8;&#x5B9D;
      |     
      small &#x652F;&#x4ED8;&#x5B9D;&#x5145;&#x503C;
      |     
      small &#x9001;&#x8D27;&#x5165;&#x6237;
      |     
      small &#x987A;&#x4E30;&#x5305;&#x90AE;
      |     
      small &#x65E0;&#x5FE7;&#x9000;&#x6362;&#x8D27;
      |     
      small &#x5168;&#x56FD;&#x8054;&#x4FDD;
      |     
      small &#x8D27;&#x7968;&#x540C;&#x884C;
      |     
      small &#x652F;&#x4ED8;&#x65B9;&#x5F0F;
      |     
      small &#x7535;&#x5668;&#x57CE;&#x5546;
    script(type='text/javascript').
      <!--
      var pro = document.getElementById('pro');
      var timer = setInterval(function () {
      pro.value < 100 ? pro.value += 5 : pro.value = 0;
      }, 100);
      //-->
