.login-box {
    width: 260px;
    margin: 200px auto;
}

.login-box input[name=username] {
    width: 180px;
}

.login-box button {
    width: 70px;
}

.chatbox-header {
    background: #3d3d3d;
    height: 28px;
    width: 100%;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
}

.chatbox-header span:nth-of-type(1) {
    text-align: left;
    margin-left: 10px;
}

.chatbox-header span:nth-of-type(2) span a {
    color: #fff;
}

.message .onlinecount {
    background: #EFEFF4;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #666;
}