style.
    body {
        color: white;
        font-family: "Microsoft Yahei", sans-serif;
        border-radius: 10px;
        box-shadow: 10px 10px 10px #999;
        background: linear-gradient(135deg, red, gray);
    }

    div.include {
        color: white;
        background: rgba(25, 125, 25, 0.5);
    }