<!doctype html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="#" method="post">
        <input type="text" name="name" value='<%= name %>' />
        <input type="text" name="age" value='<%= age %>' />
        <input type="submit"/>
    </form>
</body>
</html>